*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  width: 350px;
  height: 100vh;
  min-height: screen;
  background-color: #191919;
  color: #E9F1F1;
  padding: 1rem;
}
.mr{
  margin-right: 0.5rem;
}
.folder{
  margin-top: 6px;
  background-color: #343436;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  width: 250px;
  cursor: pointer;
}
.folder > span {
  margin: 0 5px 2px 5px;
}
.file {
  margin-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}
.file > span {
  margin: 0 5px 2px 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.editions{
  display: flex;
  gap: 0.5rem;
  margin-right: 0.5rem;
  justify-content: center;
  align-items: center;
}
.tooltip{
  cursor: pointer;
  position: relative;
}
.tooltiptext{
  background-color: #fff;
  width: 70px;
  color: #000;
  border-radius: 5px;
  font-size: 11px;
  position: absolute;
  left: 200%;
  z-index: 1;
  padding: 4px;
  top: 80%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.tooltip .tooltiptext::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 99%;
  margin-top: -4px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #333;
}
.tooltip:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
  left: 105%;
}
.main-tile{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inputContainer {
display: flex;
align-items: center;
gap: 5px;
}
.inputContainer > span {
  margin-top: 5px;
}
.inputContainer__input {
margin: 6px 0 0 0;
padding: 5px;
display: flex;
border: 1px solid lightgray;
align-items: center;
justify-content: space-between;
cursor: pointer;
}